@import "tailwindcss";

body {
    @apply bg-slate-100;
    @apply text-slate-900;
}

.link {
    @apply text-emerald-600 hover:text-emerald-700;
    @apply cursor-pointer;
}

:focus-visible {
    @apply ring-3 ring-emerald-600/50 outline-none border-emerald-600;
}

.has-error {
    @apply border-red-700 ring-red-700/50;
}